<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommendation Engine</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>



    <style>
        body {
            background-color: rgb(44, 62, 80);
            color: rgb(44, 62, 80);
        }

        a {
            text-decoration: none;
        }

        .fa-3 {
            font-size: 1.5em;
        }

        .quote-container {
            /*border: 1px solid black;*/
            margin-top: 5%;
            margin-bottom: 5%;
            background-color: white;
            padding: 20px;
        }

        .fa {
            cursor: pointer;
        }
        /*.new_quote:hover {
            transform: rotate(80deg);
            -webkit-transform: rotate(80deg);
        }*/

        .margin-right-4 {
            margin-right: 4px;
        }

        .inline {
            display: inline;
            vertical-align: middle;
        }

        .reccomendation_item {
            padding: 10px;
            width: 10%;
            height: 150px;
            text-align: center;
        }

        .reccomendation_item {
            text-overflow: ellipsis;
        }

        #recomendation_list {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row vertical">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3   quote-container">
                <h2 class="text-center">Recommendation Engine</h2>
                <hr>
                <div class="form-group">
                    <label>Add Items to Cart:</label><br/>
                    <input type="text" name="tags" placeholder="Type to select product" class="typeahead tm-input form-control tm-input-info"
                    />
                </div>
                <hr>
                <div id="recomendation_list">
                    <h4 class="text-center">Collaborative Filtering Recommendations </h4>

                    <div id="cf_list" class="row">

                    </div>
                    <h4 class="text-center">Deep Learning Recommendations </h4>

                    <div id="dl_list" class="row">

                    </div>

                </div>


            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            getProductData();
            //     $('input.typeahead').keypress(function (e) {alert(e.which);
            //         if (e.which == 13) {                   
            //             e.preventDefault();
            // return false;
            //         }
            //     });
        });
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };
        function getRecommendations(cart_items) {
            $.ajax({
                url: "/getRecommendations",
                type: 'POST',
                data: { cart_items: JSON.stringify(cart_items) },
                success: function (data) {
                    $("#recomendation_list").show();
                    console.log(data);
                    $("#cf_list").children().remove();
                    $("#dl_list").children().remove();
                    var items_html = "";
                    data.recommendations.CollaborativeFiltering.forEach(function (element) {
                        items_html += ' <div class="col-sm-6 col-md-3">\
                            <div class="thumbnail">\
                                <img src="https://dummyimage.com/70x70/ecf0e7/5c5457.jpg&text='+ element.charAt(0) + '" alt="...">\
                                <div class="caption">\
                                    <h4>'+ element + '</h4>\
                                    <p><a href="#" class="btn btn-primary text-center" role="button">Add to Cart</a> </p>\
                                </div>\
                            </div>\
                        </div>';
                    }, this);
                    $("#cf_list").append(items_html);

                    var items_html = "";
                    data.recommendations.DeepLearning.forEach(function (element) {
                        items_html += ' <div class="col-sm-6 col-md-3">\
                            <div class="thumbnail">\
                                <img src="https://dummyimage.com/70x70/ecf0e7/5c5457.jpg&text='+ element.charAt(0).toUpperCase() + '" alt="...">\
                                <div class="caption">\
                                    <h4>'+ element + '</h4>\
                                    <p><a href="#" class="btn btn-primary text-center" role="button">Add to Cart</a> </p>\
                                </div>\
                            </div>\
                        </div>';
                    }, this);
                    $("#dl_list").append(items_html);
                }
            });
        }
        // jQuery(".tm-input").on('tm:pushing', function(e, tag) {
        //     console.log(products.indexOf(tag));
        //     if(products.indexOf(tag)<0){
        //         e.preventDefault();
        //         return false;
        //     }
        // });
        jQuery(".tm-input").on('tm:pushed', function (e, tag) {
            getRecommendations(jQuery(".tm-input").tagsManager('tags'));
        });
        var products = [];
        function getProductData() {
            $.ajax({
                url: "/getProductDetails",
                type: 'GET',
                success: function (data) {
                    products = data.products;
                    console.log(data);
                    var tagApi = $(".tm-input").tagsManager({
                        validator: function (tag) {
                            console.log(tag, products.indexOf(tag));
                            if (products.indexOf(tag) < 0) {

                                return false;
                            }
                            return true;
                        }
                    });
                    jQuery(".typeahead").typeahead({
                        name: 'tags',
                        displayKey: 'name',
                        // freeInput: false,
                        source: substringMatcher(data.products),
                        afterSelect: function (item) {
                            console.log(item);
                            tagApi.tagsManager("pushTag", item);
                        }
                    });
                    //.on('keyup', this, function (event) {
                    //     console.log(event.keyCode);
                    //     if (event.keyCode == 13) {
                    //         alert("fk");
                    //         event.preventDefault();
                    //         return false;
                    //     }
                    // });


                    // data.recommendations.forEach(function (elem) {
                    //     var key = Object.keys(elem)[0];
                    //     $("#data_holidays").append("<h4>" + key + " : " + elem[key] + "</h4>");
                    // }, this);
                }
            })
        }
        $.ajax({
            url: "/getCoupons",
            type: 'POST',
            data: { "user_id": 10 ,"emotion":"happy"},
            success: function (data) {
                console.log(data);
            }

        });
    </script>

</body>

</html>